/* applying google font */

    *{
        font-family: 'Montserrat';
    }
    
/* shadows */

    .black-shadow{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .circle-shadow{
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

/* centering */
    /* display: flex
    ;
        flex-wrap: wrap;
        align-items: center */

/* font weight and size*/

    .w-500{
        font-weight: 500;
    }

    .txt-2{
        font-size: 2em;
    }

    .vh-75{
        min-height: 75vh;
    }

/* text and bg colours */

    .lilac-txt{
        color: plum;
    }

    .lilac-bg{
        background-color: plum !important;
    }

    .dark-grey-bg{
        background-color: rgb(45, 45, 45);
    }

    .lilac-underline{
        border-bottom: 2px solid plum;
    }
/* navbar */

    /* animating underline effect for the navlinks */
    .nav-link:hover::after{
        opacity: 1;
    }

    .nav-link::after{
        content: '';
        height: 2px;
        width: 100%;
        background: plum;
        display: block;
        opacity: 0;
        transition: all 0.5s;
    }

    /* animating the same for navbar brand */
    .navbar-brand:hover::after{
        opacity: 1;
    }

    .navbar-brand::after{
        content: '';
        height: 2px;
        width: 100%;
        background: plum;
        display: block;
        opacity: 0;
        transition: all 0.5s;
    }

/* my works */
    /* grid section */
    .image-container{
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .image-container img{
        width: 100%;
        height: 20em;
        object-fit: cover;
        filter: brightness(50%);
    }

    .image-container img:hover{
        filter: brightness(90%);
        transition: all 0.5s;
    }

    .overlay-text{
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 50%;
        right: 0;
        color: white;
        pointer-events: none;
    }